/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author:Magiccart<team.magiccart@gmail.com>
 * @@Create Date:2014-04-26 11:18:55
 * @@Modify Date: 2015-11-11 14:33:42
 * @@Function:*/
.magicmenu{position:relative;text-align: left;margin-top: 30px;}
.magicmenu .nav-desktop{position:static;margin:0;padding:0;}
.magicmenu .nav-desktop .level0{padding:0px;margin:0px;display: inline-block;}
.magicmenu .nav-desktop .level0.logo.display{display: none;border: 0;}
.header-container-fixed .magicmenu .nav-desktop .level0.logo.display{}
.header-container-fixed .magicmenu .nav-desktop .level0.logo.display a{border: 0;padding: 10px;width: 71px;}
.header-container-fixed .magicmenu .nav-desktop .level0.logo.display a img{max-width: 100%;}
.header-container-fixed .magicmenu .nav-desktop .level0 .level-top{padding: 15px 15px;}
.magicmenu .nav-desktop .level0.over > a,.magicmenu .nav-desktop .level0.active > a,.magicmenu .nav-desktop .level0.active > a span.icon-text,.magicmenu .nav-desktop .level0 > a:hover,.magicmenu .nav-desktop .level0 > a:hover.icon-text{color:#fff;background-color: #955251;}
.magicmenu .nav-desktop .level0 > a:hover .short_desc{color:#888888}
.magicmenu .nav-desktop .level0 .level-top{padding:30px 22px;letter-spacing: 1px;text-transform:uppercase;font-size:15px;font-weight:500;position: relative;text-decoration:none;outline:medium none;display:block;text-align:center;line-height: normal;}
.magicmenu .nav-desktop .level0 .level-top span.icon-text{padding:0;text-transform:uppercase;font-size:15px;text-decoration:none;outline:medium none;text-align:left;font-family: "Montserrat",sans-serif;}
.magicmenu .nav-desktop .level0 .level-top span.cat_label{right: 0;top: 10px;}
.magicmenu .nav-desktop .level0 .level-top > span{display:block;white-space: nowrap;font-size:15px;vertical-align: top;font-weight:500;font-family: "Montserrat",sans-serif;}
.magicmenu .nav-desktop .level0.home .level-top .icon-home{display:none}
.magicmenu .nav-desktop .level0.home .level-top .icon-home{font-size:17px}
.magicmenu .nav-desktop .level0.active .level-top span{position: relative;}
.magicmenu .nav-desktop .level0.active .level-top span:before{border-bottom: 2px solid #888888;bottom: -5px;content: "";left: 0px;opacity: 1;position: absolute;right: 0px;visibility: visible;width: 100%;}
.magicmenu .nav-desktop .level0 .level-top-mega,
.magicmenu .nav-desktop .level0.dropdown > .level0{  border-style: solid ;border-width: 0 1px 1px 1px;border-color: #f0f0f0;box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);padding:0 0 0px 30px;position:absolute;z-index:999;transition:all 300ms ease-in-out 0s;-moz-transition:all 300ms ease-in-out 0s;-webkit-transition:all 300ms ease-in-out 0s;-o-transition:all 300ms ease-in-out 0s;display:block;opacity:0;top:90px;visibility:hidden}
.magicmenu .nav-desktop .level0:hover .level-top-mega,
.magicmenu .nav-desktop .level0.dropdown:hover > .level0{opacity:1;top:100%;visibility:visible}
.magicmenu .nav-desktop .level0.home .level-top-mega{padding: 30px;text-align: left;width: 200px;}
.magicmenu .nav-desktop .level0.home .level-top-mega a{line-height: 30px;}
.magicmenu .nav-desktop .level0 .level-top-mega .menuextra,.magicmenu .nav-desktop .level0 .level-top-mega .custom-width,.magicmenu .nav-desktop .level0 .level-top-mega .extramenu{background-color:#ffffff;border:1px solid #ececec}
.magicmenu .nav-desktop .level0 .level-top-mega .children a,.magicmenu .nav-desktop p{text-align:left;text-decoration:none;font-size: 13px;text-transform: capitalize;}
.magicmenu .nav-desktop .level0 .level-top-mega .children a:hover{padding-left: 10px;}
.magicmenu .nav-desktop .level0 .level-top-mega .children a{display: block;line-height: 28px;transition:padding 0.5s ease 0s;}
.magicmenu .nav-desktop .level-top a{color:#000;font-size:14px;text-decoration:none;text-align:left}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a{position: relative; font-size: 14px;text-transform: uppercase;font-weight: 500;padding: 0;display: block;line-height: 30px;font-family: "Montserrat",sans-serif;margin:28px 0 15px;}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a span{font-family: "Montserrat",sans-serif;font-size: 14px;}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a:before{content: "";position: absolute;left: 0;bottom: -5px;background-color: #dddddd;height: 1px;width: 60px;}
.magicmenu .nav-desktop .level0 .level-top-mega .children .nav:last-child { border: 0 none;}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 img{margin-top: 10px;}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top,.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom{ padding: 30px 0 0;width:100%;clear:both}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom{text-align: center;}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom .img-responsive{display: inline;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega-horizontal{overflow:hidden;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega-horizontal .cat-mega{padding-bottom: 20px;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column.cat-mega{float:left;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children{float:left;text-align:left;padding: 0;width:225px;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children ul{margin-right:20px;}
.mage-column.mega-block-left{float:left;}
.mage-column.mega-block-right{float:right;position: relative;clear: both;}
.mega-block-right img{display: inline; height: auto;position: absolute;right: 0;bottom: 0;}
.mega-block-right h3{color: #dddddd; font-size: 14px; padding: 10px 0;text-align: center;text-transform: uppercase;}
.header .custom-menu .level-top-mega .magic-category{float: left;width: 200px;padding-right: 30px;}
.header .custom-menu .level-top-mega .magiccategory,.header .custom-menu .level-top-mega .magicproduct{width: 660px;padding-top: 30px;}
.header .custom-menu .level-top-mega .content-products{clear: none;float: left;}
.header .custom-menu .level-top-mega .block-title-tabs{display: none;}
.header .custom-menu .level-top-mega .mage-magictabs{margin-bottom: 30px;}
.block-left,.block-right,.cat-mega{float:left}
.banner-menu{padding-top: 20px;}
.block-bottom{clear:both}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top{margin: 0px;overflow: hidden;}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top .links-top-menu{text-align:center;background:#eee;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega .mage-column .links{float:none;display:inline-block;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega .mage-column .links li a{color:#555;line-height:35px;padding:0 15px;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega .mage-column .links li a:hover{background-color:#dc1212;color:#fff;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega .mage-column .links li.label{color:#555;line-height:35px;font-size:14px;margin:0 5px 0 0;}
.magicmenu .nav-desktop .level0 .level-top .short_desc{display:block;font-size:13px;font-weight:300;line-height:13px;text-transform:capitalize;color:#999}


/**
	dropdown
**/
.magicmenu .nav-desktop .level0.dropdown > .level0,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0{width: 16em;min-width: 12em;padding: 20px 0px;line-height: 32px;text-align: left;}
.magicmenu .nav-desktop .level0.dropdown .hasChild,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild {position: relative;}
.magicmenu .nav-desktop .level0.dropdown .hasChild > a:before,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild > a:before{ content: "";display: block;line-height: 32px;font-size: 14px;position: absolute;right: 15px;text-align: right;font-family: FontAwesome;}
.magicmenu .nav-desktop .level0.dropdown .hasChild ul,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild ul {position: absolute;left: 100%;top: 0;opacity: 0;visibility: hidden;box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);padding: 20px 0px;min-width: 200px;z-index: 1;}
.magicmenu .nav-desktop .level0.dropdown .hasChild:hover > ul,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild:hover > ul{opacity: 1;visibility: visible;}
.magicmenu .nav-desktop .level0.dropdown .level1 a,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1 a{padding: 0 30px;display: block;}
/**
	ul leve2
**/
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild{position: relative;}
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild:before{content: "";display: block;line-height: 32px;font-size: 14px;position: absolute;right: 30px;text-align: right;font-family: FontAwesome;}
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild ul { position: absolute;left: 100%;opacity: 0;visibility: hidden;top:0;background-color: #fff;box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);padding: 5px 0 5px 30px;min-width: 200px;z-index: 1;}
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild:hover > ul{opacity: 1;left: 90%;visibility: visible;}

/**
	rest main-container
 */
.main-container{clear:both}
.magicmenu .nav-desktop .level0 .cat_label,.mean-container .mean-nav ul li a span.cat_label{background-color:#72bf20;color:#ffffff;font-weight: normal;font-size:11px !important;line-height:18px;padding:0 5px;margin: 0 5px;text-transform:capitalize;position:absolute;}
.magicmenu .nav-desktop .level0 .cat_label:before {border-color: transparent;border-style: solid;border-top-color: #dc1212;border-width: 4px;content: "";height: 0;position: absolute;right: 6px;top: 18px;transition: border-color 450ms ease-in-out 0s;width: 0;}
.magicmenu .nav-desktop .level0 .cat_label.New:before,
.magicmenu .nav-desktop .level0 .cat_label.Map:before {border-top-color: #72bf20;}
.magicmenu .nav-desktop .level0 .level-top-mega .children .level-3 a .cat_label:before,
.magicmenu .nav-desktop .level0 .level-top-mega .children .nav a .cat_label:before {display:none;}
.magicmenu .nav-desktop .level0 .cat_label.Hot{background-color:#dc1212;}
/* Extra Menu*/

/* Vertical Menu*/
.vmagicmenu .level0.first .level-top-mega .mage-column.cat-mega{width: 440px !important;overflow: hidden;	-webkit-column-count: 2; /* Chrome, Safari, Opera */-moz-column-count: 2; /* Firefox */column-count: 2; margin: 0;}
.vmagicmenu .level0.first .content-mega-horizontal{width: 750px !important;}
.vmagicmenu{display:block;position:relative;padding:0 0 10px}
.vmagicmenu .vmagicmenu-narrow{border:1px solid #dddddd;padding: 15px 0 25px;}
.vmagicmenu .block-title{line-height:50px;padding:0 20px; margin-bottom: 5px;}
.vmagicmenu .block-title span{font-size:14px}
.vmagicmenu .block-title .vmagicmenu-subtitle{text-transform:uppercase;padding:0 0 0 10px}
.vmagicmenu .level0{padding:0;float:left;line-height:37px;width:100%;list-style: none;}
.vmagicmenu .level0.last{border:none}
.vmagicmenu .level0:hover,.vmagicmenu .level0.active{background-color:#f4f4f4}
.vmagicmenu .level0:hover .level0{background-color: transparent;}
.vmagicmenu .level0 .level-top{padding: 0 20px;font-size:100%;text-decoration:none;display:block;outline:medium none}
.vmagicmenu .level0.hasChild .level-top:after{content:"";font-family:FontAwesome;font-size:9px;color:#9b9b9b;float:right;font-style:normal;font-weight:normal;text-decoration:inherit;vertical-align:middle}
.vmagicmenu .level0 .level-top span{font-size:15px}
.vmagicmenu .level0 .level-top-mega,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown ul{position:absolute;top:0;box-shadow:1px 6px 7px 0 rgba(0,0,0,0.15);z-index:999;left:100%;visibility:hidden;opacity:0;border-width: 1px;border-style: solid;}
.vmagicmenu .level0:hover .level-top-mega,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown.hasChild:hover > ul{opacity:1;visibility:visible}
.vmagicmenu .level0 .level-top-mega .content-mega{padding:27px;overflow:hidden}
.vmagicmenu .level0 .level-top-mega .children a,.vmagicmenu p{line-height:25px;text-align:left;text-decoration:none}
.vmagicmenu .level-top a{color:#fff;font-size:14px;text-decoration:none;text-align:left}
.vmagicmenu .level0 .level-top-mega .children>.level1{font-size:100%;padding:0 0 5px;line-height:30px}
.vmagicmenu .level0 .level-top-mega .children.level1 >a{font-size:14px;text-transform:uppercase;font-weight:500;}
.vmagicmenu .level0 .level-top-mega .children.level1 >a span{font-size:14px;}
.vmagicmenu .level0 .level-top-mega .children li{line-height:26px;border-bottom:1px solid #ececec}
.vmagicmenu .level0 .level-top-mega .children .nav:last-child{border:none}
.vmagicmenu .level0 .level-top-mega .children > .nav{border:none}
.vmagicmenu .level0 .level-top-mega .children .nav a{font-weight:300}
.vmagicmenu .level0 .level-top-mega .mega-block-top,.vmagicmenu .level0 .level-top-mega .mega-block-bottom{width:100%}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom{clear:both;padding:15px 0 20px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul{background-color:#f7f7f7;overflow:hidden;padding:15px 25px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .title-menu,.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom,.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom li{float:left;line-height:40px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom li{padding:0 10px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .title-menu strong{font-weight:300}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .title-menu span{font-size:14px;color:#888888}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom li a{color:#888888;text-decoration:none;padding:8px 10px;font-size:14px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom .menu-ul .custom-menu-bottom li a:hover{background-color:#8ac28f;color:#ffffff}
.vmagicmenu .level0 .level-top-mega .mage-column .children{float:left;width:210px;text-align:left;margin-bottom:25px}
.vmagicmenu .level0 .level-top-mega .mage-column .children ul{margin-right:40px;list-style: outside none none;}
.vmagicmenu .level0 .cat_label{background-color:#8ac28f;color:#fff;font-size:11px;height:16px;line-height:15px;margin:0 5px;padding:0 5px;position:absolute;text-transform:capitalize;font-weight:300}
.vmagicmenu .level0 .cat_label.Hot{background-color:#b5d575}

/*.vmagicmenu .vmagicmenu-narrow >li:nth-of-type(n+8) { display: none; }*/
.vmagicmenu .vmagicmenu-narrow >li:nth-child(n+12) { display: none; }
.vmagicmenu .block-vmagicmenu-content .all-cat { display: block; text-align: center; margin-top: 14px;padding-right: 20px;}
.vmagicmenu .block-vmagicmenu-content .all-cat span {border: 1px solid #eaeaea;cursor: pointer;display: block;line-height: 38px;text-align: center;width: 100%;clear: both;font-family: "Arial",sans-serif;}
.vmagicmenu .block-vmagicmenu-content .all-cat span:after {content: "";font: bold 14px/1 FontAwesome;margin-left: 20px;}
/*Test*/
.level-top-mega .mage-column.cat-mega{margin:0}
.vmagicmenu .level0 .level-top-mega .content-mega{}
.fixed{z-index:999;width:100%}
.fixed .custom-menu{padding-bottom:7px;padding-top:10px;box-shadow:0 0 6px 0 rgba(0,0,0,0.2)}
.fixed .quick-access{display:none}
@media only screen and (min-width:768px){.nav-mobile{display:none !important;}}
/* hide the link until viewport size is reached */
a.meanmenu-reveal{display:none}
/* when under viewport size,.mean-container is added to body */
.mean-container .mean-bar{position:static;float: right;margin-top: 46px;}
.mean-container a.meanmenu-reveal{width:20px;height:20px;padding:20px;position:relative;z-index: 32;top:0;right:0;cursor:pointer;outline:medium none;color:#333;text-decoration:none;font-size:16px;text-indent:-9999em;line-height:22px;font-size:1px;display:block;font-weight:700}
.mean-container a.meanmenu-reveal span{display:block;background:#333;height:3px;margin-top:3px}
.mean-container .mean-nav{float:left;width: 100%;position: absolute;background-color: #222;z-index: 2;left: 0;}
.mean-container .mean-nav .mobi-title{display: none;color:#fff;font-size:16px;line-height:52px;margin:0;padding:0 0 0 50px;text-align:left;text-transform:uppercase;font-weight: 400;position: absolute;top: -56px;z-index: 0;}
.mean-container .mean-nav ul{padding:0;margin:0;width:100%;list-style-type:none}
.mean-container .mean-nav ul li{position:relative;float:left;width:100%}
.mean-container .mean-nav ul li a{display:block;padding:10px 0;margin:0;text-align:left;color:#fff;border-bottom:1px solid #333;text-decoration:none;text-transform:capitalize}
.mean-container .mean-nav ul li a span{font-size:17px;padding:0 14px;}
.mean-container .mean-nav ul li ul li a span.cat_label{background-color:#5ba0d0;color:#fff;font-size:11px;font-weight:300;height:16px;line-height:15px;margin:0 5px;padding:0 5px;position:absolute;text-transform:capitalize}
.mean-container .mean-nav ul li ul li a span.cat_label.Hot{background-color:#fe5858}
.mean-container .mean-nav ul li li a{font-size: 15px; padding: 10px 0 10px 40px;filter:alpha(opacity=75);visibility:visible;}
.mean-container .mean-nav ul li.mean-last a{margin-bottom:0}
.mean-container .mean-nav ul li li li a{font-size: 15px; padding: 10px 0 10px 50px;}
.mean-container .mean-nav ul li li li li a{padding:1em 20%}
.mean-container .mean-nav ul li li li li li a{padding:1em 25%}
.mean-container .mean-nav ul li a:hover{color: #999;}
.mean-container .mean-nav ul li a.mean-expand{width:15px;height:15px;line-height:15px;padding:10px!important;text-align:center;position:absolute;right:5px;top:5px;z-index:2;font-weight:300;background:rgba(255,255,255,0.1);border:none!important}
.mean-container .mean-nav ul li a.mean-expand:hover{background:#444;color:#fff}
.mean-container .mean-push{float:left;width:100%;padding:0;margin:0;clear:both}
.mean-nav .wrapper{width:100%;padding:0;margin:0}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar,.mean-container .mean-bar *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.mean-remove{display:none!important}

/* Update */
.magicmenu .nav-desktop .level0.hasChild .level-top:after{content: "";font-family: "FontAwesome";font-size: 14px;margin-left: 5px;opacity: 0.3;vertical-align: 0;}
.magicmenu .nav-desktop .level0 .level-top > span{display: inline-block;}
.magicmenu .nav-desktop .level0 .cat_label.Sale, .mean-container .mean-nav ul li a span.cat_label.Sale{background-color: #dc1212;}
.magicmenu .nav-desktop .level0 .cat_label:before{border-width: 0px 0px 10px 10px;left: -6px;top: 3px;right: auto;border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #dc1212;}
.magicmenu .nav-desktop .level0 .cat_label.New::before, .magicmenu .nav-desktop .level0 .cat_label.Map:before {border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #72bf20;}
.magicmenu .nav-desktop .level0 .cat_label, .mean-container .mean-nav ul li a span.cat_label{margin-left: 10px;}
