/* mini cart */
.miniCartWrap{vertical-align:top;}
.mini-maincart{position:relative;z-index:30;margin: 70px 0 0;}
.mini-maincart .mini-contentCart{position:absolute;right:0;top:50px;width:275px;line-height:30px;padding:10px 25px 20px;border: 1px solid #f0f0f0;}
.mini-maincart .mini-contentCart p.empty{margin:0;font-weight:300;font-size: 12px;cursor: text;}
.mini-contentCart .mini-products-list{margin:0;padding:0;}
.mini-contentCart .item .product-details .product-name{line-height: 10px;font-size: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: 20px;line-height: 20px;}
.mini-contentCart .item .product-details .product-name a{font-size: 12px;}
.crat-icon,.cart-header{display: inline-block;}
.crat-icon .zero,.crat-icon .item{padding:0px;position: absolute;top: 0px;right: -5px;width: 22px;height: 22px ;line-height: 22px !important;text-align: center;border-radius: 50%;-moz-border-radius:  50%;-webkit-border-radius:  50%; -ms-border-radius:  50%;-o-border-radius:  50%;}
.crat-icon{padding:0 ;position: relative;}
.cartSummary .icon-cart{padding:0px;font-size:30px;line-height: 30px;}
.cartSummary .mt-cart-title{ color: #555555;text-transform: uppercase;display: inline-block;margin: 0 0 0 10px;vertical-align: top;display: none;}
.cartSummary span.item,.cartSummary span.zero, .cartSummary span.price{font-size: 14px;line-height: 40px;}
.mini-contentCart .subtotal{clear:both;display:block;padding:10px 0;margin:0;}
.mini-contentCart .subtotal .label,
.mini-contentCart .item .product-details .product-name a,
.cartSummary span.item,.cartSummary span.zero, .cartSummary span.price,
.mini-contentCart .subtotal .price,
.mini-contentCart .actions a{font-weight: 500;font-family: "Montserrat",sans-serif;text-transform: uppercase;}
.mini-contentCart .subtotal .label{color:#555;font-size:13px;padding: 10px 0;}
.mini-contentCart .subtotal .price{color:#555;font-size: 16px;float: right;}
.mini-contentCart .actions a{border:1px solid #aaaaaa;color:#666;text-decoration:none;font-size:11px;line-height:35px;padding:0 17px;display:inline-block;margin:5px 0px; text-transform: uppercase;transition:all 500ms ease-in-out 0s;-moz-transition:all 500ms ease-in-out 0s;-webkit-transition:all 500ms ease-in-out 0s;-o-transition:all 500ms ease-in-out 0s;}
.mini-contentCart .actions a:hover{background-color:#ff5555;color: #fff;border:1px solid #ff5555;}
.mini-contentCart .actions a.checkout{background-color:#ff5555;color: #fff;border:1px solid #ff5555;float: right;}
.mini-contentCart .actions a.checkout:hover{border:1px solid #aaaaaa;color:#666;background-color:#fff;}
#miniMagiccart .item:hover{background-color:#dddddd}
#miniMagiccart a.btn-remove,a.btn-edit,a.btn-remove{float:none;margin:0;display: inline-block;vertical-align: top;}
.mini-contentCart .block-content .block-subtitle{margin:0;text-transform: uppercase;border-bottom: 1px solid #dddddd;font-family: "Montserrat",sans-serif;}
#toPopup .countDown {background: #eee none repeat scroll 0 0;border-left: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;display: inline-block;font-size: 11px;font-weight: bold;height: 20px;line-height: 20px;width: 20px; position: absolute;top: 0;right: 0;}
#toPopup .response p{padding: 0 14px 0 0;}
/*popup*/
#toPopup{background:none repeat scroll 0 0 #FFFFFF;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);border-radius: 5px;-moz-border-radius: giá trị;-webkit-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border:0 solid #ccc;border-bottom:2px solid #ff5555;color:#333333;font-size:13px;position:fixed;top:30%;left:40%;width:300px;z-index:999999;padding:10px;text-align: center;}
#popupAjaxcart .label,#popupAjaxcart .availability span{font-weight:300}
/* option cart */
#toPopup .input-box{margin:10px 0 10px}
#toPopup label.required em{color:#eb340a}
#toPopup .action-cart{margin:20px 0 15px 0}
#toPopup .action-cart .button{margin:0 5px;}
/* overlay loading */
#popupAjaxcart .overlay{z-index:12;position:fixed;display:none;height:100%;width:100%;background-image: url(../images/overlay.png);background-repeat: repeat;top:0;left:0}
#popupAjaxcart .loading{background:url("../images/loading.gif") no-repeat scroll center center #fff;border-radius: 5px;-moz-border-radius: giá 5px;-webkit-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);border-bottom:2px solid #ff5555;display:none;width:55px;height:55px;left:48%;opacity:1;padding:20px;position:fixed;top:38%;z-index:999999}
