#magicshop_quickview_handler:hover{background:url("../images/quickview-hover.png") no-repeat scroll 0 0 transparent;width:52px;height:52px}
#fancybox-content .product-collateral{background:none repeat scroll 0 0 #FFFFFF;height:0;width:0;padding:0;margin:0}
#fancybox-content .product-essential{background:none repeat scroll 0 0 #FFFFFF}
#fancybox-content .product-view{background:none repeat scroll 0 0 #FFFFFF;border:medium none!important;text-align:left}
#fancybox-content .quickview-index-view{background:none repeat scroll 0 0 #FFFFFF}
#fancybox-content .product-more-info > a  > span{color:#fff;display:block;font-size:14px;margin:0;text-decoration:underline}
.product-more-info a:hover{background-color:#666}
#fancybox-content .product-more-info > a:hover span{text-decoration:none}
.wrap_quickview .product-view .product-img-box .more-views .nbs-flexisel-nav-top,.wrap_quickview .product-view .product-img-box .more-views .nbs-flexisel-nav-bottom{position:absolute}
.wrap_quickview .product-view .product-img-box .more-views ul{margin:0}
.product-view .product-img-box .zoom-notice{clear:both}
#fancybox-content .nbs-flexisel-nav{position:static}
#fancybox-content .nbs-flexisel-nav .nbs-flexisel-nav-top,#fancybox-content .nbs-flexisel-nav .nbs-flexisel-nav-bottom{background-color:transparent!important;border:none;left:25px!important}
#fancybox-content{padding:30px 0 10px;overflow:visible;box-shadow:none}
#fancybox-content > div{overflow:visible!important}
.zoomContainer .zoomLens,
.zoomWindowContainer .zoomWindow{border: 1px solid #dddddd !important;}
.zoomContainer, .zoomWindowContainer {
    z-index: 10008 !important;
}
.catalog-product-view .zoomContainer, .zoomWindowContainer {
    z-index: 999 !important;
}
