.magicslider{padding:0px;margin:0;}
.bx-wrapper .bx-caption {
    display:none;
}
.bx-wrapper .bx-caption.start, .bx-wrapper .bx-caption.play {display:block;}
.play .caption1 {position:absolute;top: 36%; z-index:30;color: #e1e5e6;font-size: 200px;font-weight:300;line-height: 190px;margin: 0 0 0 -79px;text-transform: uppercase;
    -moz-animation: fadeInRight 0.8s ease-in 1.3s backwards;
    -webkit-animation: fadeInRight 0.8s ease-in 1s backwards;
    animation: fadeInRight 0.8s ease-in 1s backwards;
    opacity: 1;
}
.play .caption2,.play .caption3{font-family: "montserrat",sans-serif;}
.play .caption2 {position:absolute;top:46%;z-index:40;color: #ff5555;font-size: 100px;margin: 0;line-height: 70px;font-weight: 500;letter-spacing: 20px;text-transform: uppercase;
    -moz-animation: fadeInLeft 0.8s ease-in 1.5s backwards;
    -webkit-animation: fadeInLeft 0.8s ease-in 1.5s backwards;
    animation: fadeInLeft 0.8s ease-in 1.5s backwards;
    opacity:1;
}
.play .caption3 strong{color: #fff;font-size: 80px;font-weight:100;line-height: 80px;}
.play .caption3 {position:absolute;top:60%;z-index:50;color: #fff;font-size: 80px;margin: 0;line-height: 80px;font-weight: 500;letter-spacing: 10px;text-transform: uppercase;
    -moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
    -webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
    animation: fadeInUp 0.8s ease-in 1.7s backwards;
    opacity:1;
}
.play .caption4 {
    position:absolute;bottom:80px;z-index:60;opacity:1;
    -moz-animation: fadeInLeft 1s ease-in 2s backwards;
    -webkit-animation: fadeInLeft 1sease-in 2s backwards;
    animation: fadeInLeft 1 sease-in 2s backwards;
}
.play .text-slide3 .caption4{bottom: 160px;}
.btn-shop {border: 2px solid #955251;color: #955251;display: inline-block;font-size: 17px;font-weight: 400;line-height: 45px;margin-top: 35px;padding: 0 40px;text-transform: uppercase;}
.btn-shop:hover {color: #fff;background-color: #955251;}
.play .text-slide3 .caption4 .btn-shop,
.play .text-slide2 .caption4 .btn-shop{border: 2px solid #242628;color: #242628;}
.play .text-slide3 .caption4 .btn-shop:hover,
.play .text-slide2 .caption4 .btn-shop:hover{color: #fff;background-color: #242628;}
.play .text-slide2 .caption1{position:absolute;z-index:30;margin: 0px;letter-spacing: 35px;font-size: 180px;line-height: 180px;font-weight: 100;}
.play .text-slide2 .caption2{font-size: 80px;letter-spacing: 10px;}
.play .text-slide1 .caption2,.play .text-slide1 .caption1{left: 0;right: 0;text-align: center;}
.alo-block-slide .bx-wrapper .bx-pager.bx-default-pager a{background-color: #bebfc2;}
.alo-block-slide .bx-wrapper .bx-pager.bx-default-pager a:hover, .alo-block-slide .bx-wrapper .bx-pager.bx-default-pager a.active{background-color: #ff5555;}
@media(max-width:1920px) {
    .play .caption2{top: 43%;}
}
