<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: Magiccart<team.magiccart@gmail.com>
 * @@Create Date: 2014-04-25 13:15:04
 * @@Modify Date: 2015-07-22 18:50:35
 * @@Function:
 */
?>

<?php

// drawMainHome
$menu = $this->cfgExt->topmenu;
if(!$menu['enabled']) return;
$drawHomeMenu = '';
$home = $menu['home'];
if($home) $drawHomeMenu  = $this->drawHomeMenu();

// drawMainMenu vs DrowMobileMenu
$menuHtml = $this->drawMainMenu();
$mobileMenu = $menuHtml['mobile'];
$desktop 	= $menuHtml['desktop'];
$ids  = explode(',', $menu['notIncludeNav']);
foreach ($ids as $id) {
	unset($desktop[$id]);
}
$drawMainMenu = $menu['mainCat'] ? implode("\n", $desktop) : '';

// drawExtMenu ExtraMenu
$drawExtraMenu = $menu['extraCat'] ? $this->drawExtraMenu() : '';

?>
<?php $sticker = $menu['sticker'] ? 'sticker' : ''; ?>
<div class="magicmenu clearfix">
	<ul class="nav-desktop <?php echo $sticker ?>">
		<?php echo $drawHomeMenu ?>
		<?php echo $drawMainMenu ?>
		<?php echo $drawExtraMenu ?>
	</ul>
</div>
<div class="nav-mobile">
	<h3 class="mobi-title"><?php echo $this->__('Categories')?></h3>
	<ul>
		<?php echo $mobileMenu ?>
		<?php echo $drawExtraMenu ?>
	</ul>
</div>
